* {
  border: solid 1px;
  margin:0px;
  padding:0px;
}

.title {
  display: block;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
  font: 30px Monaco bold;
}

.container {
  display: flex;
  padding: 70px;
  justify-content: space-around;
}

.cngn-clr {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: linear-gradient(0deg, red, black, green, yellow);
}